include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include cyprus_banks *.css
recursive-include cyprus_banks *.csv
recursive-include cyprus_banks *.html
recursive-include cyprus_banks *.ico
recursive-include cyprus_banks *.js
recursive-include cyprus_banks *.json
recursive-include cyprus_banks *.md
recursive-include cyprus_banks *.png
recursive-include cyprus_banks *.py
recursive-include cyprus_banks *.svg
recursive-include cyprus_banks *.txt
recursive-exclude cyprus_banks *.pyc